html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 16px "微软雅黑";
}
.player {
  width: 375px;
  height: 550px;
  background-color: #2b2b2b;
  border-radius: 10px;
  position: relative;
}
.player .header {
  padding: 15px 0;
  text-align: center;
}
.player .albumPic {
  background-image: url(http://p3.music.126.net/SR9eFEjRB0NsscxN7-fHMw==/3344714372906000.jpg);
  background-size: cover;
  width: 270px;
  height: 270px;
  margin: auto;
  border-radius: 10px;
}
.player .trackInfo {
  text-align: center;
  padding: 20px 0 15px;
  font-size: 14px;
  white-space: nowrap;
}
.player .trackInfo .name {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.player .progress {
  width: 30%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), #0099FF);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: .4;
}
.player .controls {
  position: relative;
}
.player .controls .play {
  cursor: pointer;
  width: 75px;
  height: 75px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 35px;
}
.player .controls .play:hover {
  font-size: 40px;
}
.player .controls .previous {
  cursor: pointer;
  position: absolute;
  top: 25px;
  font-size: 30px;
  left: 60px;
}
.player .controls .previous:hover {
  font-size: 32px;
}
.player .controls .next {
  cursor: pointer;
  position: absolute;
  top: 25px;
  font-size: 30px;
  right: 60px;
}
.player .controls .next:hover {
  font-size: 32px;
}
.player .time {
  width: 335px;
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
