* {
    margin: 0;
    padding: 0;
}

.block {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin: -100px -200px;
    background: #ccc;
}

.rCorner,.lCorner {
    position: absolute;
    border-radius: 50px;
    border: 50px solid transparent;
}

.lCorner {
    top:-50px;
    left:-50px;
    border-bottom-color: #fc0;
    transform: rotate(-45deg);
}

.rCorner {
    bottom:-50px;
    right:-50px;
    border-bottom-color: #fc0;
    transform: rotate(135deg);
}